<!-- Views/Account/Users.cshtml -->
@model List<GroupAssignment.Models.UserModel>
@*
Yanhan Chen
991647343
Group Assignment
User list view
*@
@{
    ViewData["Title"] = "User Management";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a href="@Url.Action("Edit", "Account", new { userId = user.Id })" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    